@import "../../assets/scss/utils.scss";

img.welcomeImage {
    width: 50%;
    margin-bottom: 3rem;
}

section.noSitesContainer {
    min-height: calc(100% - #{$titlebar-height}) !important;

    h4 { padding: 1rem }
    h4 + p { padding-bottom: 2rem; }
}

.sitesList {
    background: #f0f0f0;
}

.siteDetails {
    margin-bottom: 0 !important;
}

.siteTitle {
    border-bottom: 1px solid #ccc;
    padding: 1.5rem;
    position: relative;

    p {
        margin-bottom: 0 !important;
    }
}

.serverStatus {
    position: absolute;
    left: 1.2rem;
    top: 1.6rem;
    color: $grey;
}

.serverStatusActive {
    color: $green;
}

.websiteInfo {
    margin-left: 1.8rem;
}

.siteSettings {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.siteActions {
    border-bottom: 1px solid #ccc;
    padding: 0 1.5rem;

    button {
        border: none !important;
    }
    button:first-child {
        margin-left: -.5em;
    }
}

.siteDetails {
    padding: 1rem 1.5rem;
}

.environmentTable {
    margin: 0 -.75em;
}
