@import "../../assets/scss/utils.scss";

.button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    user-select: none;
    cursor: default;
    opacity: 0.8;
    &:hover {
        background: rgba(255,255,255,0.2);
        opacity: 1;
    }
}
:global {
    #titlebar {
        color: #FFF;
        display: block;
        position: fixed;
        z-index: 3;
        height: $titlebar-height;
        width: 100%;
        background: #282b30;
        top: 0;
        #drag-region {
            width: 100%;
            height: 100%;
            -webkit-app-region: drag;
            display: grid;
            grid-template-columns: auto 300px;
        }
    }

    #window-title {
        grid-column: 1;
        display: flex;
        align-items: center;
        font-size: .9rem;
        margin-left: .5rem;
        overflow-x: hidden;
        color: #aaa;
        font-weight: bold;
        span {
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1;
            position: relative;
        }
    }

    #window-profile {
        grid-column: 2;
        display: flex;
        position: absolute;
        right: 90px;
        top: 0;
        -webkit-app-region: no-drag;

        .dropdown-trigger .button {
            background: transparent;
            border: none;
            color: #fff;
            font-size: 13px;
            line-height: 1;
            padding-top: 2px;
            height: $titlebar-height;
            border-radius: 0;
            box-shadow: none;
            color: #aaa;

            &:hover {
                color: #fff;
                background: rgba(255,255,255,0.2);
            }
        }
        .dropdown.is-active .dropdown-trigger .button {
            color: #fff;
            background: rgba(255,255,255,0.2);
        }

        .dropdown-menu {
            z-index: 5;
        }
    }

    #window-controls {
        display: grid;
        grid-template-columns: repeat(3, 30px);
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        font-family: "Segoe MDL2 Assets";
        font-size: 10px;
        line-height: 1;
        -webkit-app-region: no-drag;
        > div {
            color: #aaa;
            padding-top: 1px;
            &:hover {
                color: #fff;
            }
        }

        #restore-button {
            display: none;
        }
        #min-button {
            grid-column: 1;
        }
        #max-button, #restore-button {
            grid-column: 2;
        }
        #close-button {
            grid-column: 3;
            &:hover {
                background: #E81123;
            }
        }
    }
}
