.DS_Store
Thumbs.db
*.log
node_modules
npm-debug.log
tmp/*
app/dist/*
releases/*
.vagrant
*.sublime-project
*.sublime-workspace
!app/dist/.gitkeep
!releases/.gitkeep
app/src/assets-bin-php/*
!app/src/assets-bin-php/.gitkeep