.standard-panel-paddings {
    padding-left: @standard-padding;
    padding-right: @standard-padding;
}

.standard-padding-bottom {
    padding-bottom: @standard-padding;
}

.standard-padding-top {
    padding-top: @standard-padding;
}

.double-padding-top {
    padding-top: @standard-padding;
}