@color-midnight-blue: #283F4D;
@color-silver: #BAC3C7;
@color-white: #FFFFFF;

@color-sidebar-bg: @color-midnight-blue;
@color-sidebar-active-text: @color-white;
@color-sidebar-inactive-text: @color-silver;

//
// Bootstrap settings
//

@font-family-sans-serif: Helvetica, "Helvetica Neue", Arial, sans-serif;
@font-size-base: 14px;