@color-midnight-blue: #283F4D;
@color-silver: #BAC3C7;
@color-silver-light: #E9EFF0;
@color-silver-superlight: #F5F8F8;
@color-dark-skies: #464F4F;
@color-white: #FFFFFF;
@color-clouds: #EAF0F1;
@color-peter-river: #3498db;
@color-belize-hole: #2980b9;
@color-concrete: #95a5a6;
@color-asbestos: #798D8D;
@color-grass: #8AC252;
@color-grass-dark: #72A93B;

@color-danger: #BA1720;

@color-layout-grid-lines: @color-silver-light;
@color-layout-grid-lines-minor: @color-clouds;

@color-sidebar-bg: @color-midnight-blue;
@color-sidebar-active-text: @color-white;
@color-sidebar-inactive-text: @color-silver;

@color-projects-side-panel-bg: @color-silver-superlight;
@color-selected-project-bg: @color-peter-river;
@color-selected-project-text: @color-white;

@color-primary-header: @color-peter-river;
@color-text-minor: @color-concrete;

@btn-disabled-bg: @color-clouds;
@btn-disabled-color: @color-silver;

@standard-padding: 25px;

@color-form-label: #5F7070;
@color-form-label-inactive: @color-text-minor;
@color-form-label-active: @color-form-label;
@color-form-input-border-active: @color-peter-river;
@color-form-input-border-inactive: #9e9e9e; // Is not used anywhere except directory selector

@color-progress-indicator-active: @color-grass-dark;
@color-progress-indicator-inactive: @color-silver;
@color-progress-indicator-active-text: @color-grass-dark;

//
// Bootstrap settings
//

@font-family-sans-serif: Helvetica, "Helvetica Neue", Arial, sans-serif;
@font-size-base: 14px;
@text-color: @color-dark-skies;
@input-border-radius: 0;
@brand-primary: @color-peter-river;
@brand-danger: @color-danger;
@border-radius-base: 2px;

@btn-default-bg: @color-concrete;
@btn-default-color: @color-white;