a.btn {
    text-decoration: none;
}

.btn {
    border: none;
    text-transform: none;
    height: auto;

    &.btn-default {
        &:hover {
        }
    }

    &:hover {
        outline: none;
    }

    &[btn-icon] {
        &:before {
            position: inline-block;
            margin-right: 5px;
            vertical-align: middle;
        }
    }

    &[disabled] {
        cursor: default;
    }

    &[btn-icon=start] {
        &:before { .icons-sprite-pseudo(14px, 14px, 5px, 165px); }
        &[disabled]:before { .icons-sprite-pseudo(14px, 14px, 5px, 185px);}
    }

    &[btn-icon=stop] {
        &:before { .icons-sprite-pseudo(14px, 14px, 24px, 165px); }
        &[disabled]:before { .icons-sprite-pseudo(14px, 14px, 24px, 185px);}
    }

    &[btn-icon=deploy] {
        &:before { .icons-sprite-pseudo(14px, 14px, 44px, 165px); }
        &[disabled]:before { .icons-sprite-pseudo(14px, 14px, 44px, 185px);}
    }
}