div.project-view-container {
    > div.flex-item {
        &.welcome-to-pond {
            flex: 1 1 auto;

            .welcome-graphics {
                display: inline-block;
                margin: @standard-padding*2 auto;
                width: 445px;
                height: 244px;
                .icons-sprite(521px, 1px);
            }
        }
    }
}